.journey {
  background: linear-gradient(to top, rgb(35, 35, 35), rgb(28, 0, 13));
  background: -webkit-linear-gradient(to top, rgb(35, 35, 35), rgb(28, 0, 13));
}

.bar {
  width: 0.3rem;
  background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  margin: auto;
  border-radius: 2px;
  height: 100%;
  position: relative;
}

.k16,
.k15,
.k14 {
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(-90deg);
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.k16 {
  top: 10%;
}

.k15 {
  top: 30%;
}

.k14 {
  top: 50%;
}

.thumb2016 {
  animation: thumb2016 2s forwards;
}

.thumb2015 {
  animation: thumb2015 4s forwards;
}

.thumb2014 {
  animation: thumb2014 4s forwards;
}

.position {
  border-radius: 12px;
  width: 100%;
  background-color: white;
  padding: 5% 5%;
  /*margin-top: 30px;*/
  border-right: 7px solid #ff5492;
  color: #ff5492;
  opacity: 0;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.position+.position {
  margin-top: 5%;
}

.title {
  font-size: 20px;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 15px;
}

@media (min-width: 640px) {
  .position {
    width: 90%;
  }
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .position {
    width: 100%;
  }
}
/*CSS Animation for scrollbar*/
/*2016*/
@keyframes thumb2016 {
  0% {
    opacity: 0.4;
    top: 10%;
  }
  100% {
    opacity: 1;
    top: 30%;
  }
}

@-webkit-keyframes thumb2016 {
  0% {
    opacity: 0.4;
    top: 10%;
  }
  100% {
    opacity: 1;
    top: 30%;
  }
}

@-moz-keyframes thumb2016 {
  0% {
    opacity: 0.4;
    top: 10%;
  }
  100% {
    opacity: 1;
    top: 30%;
  }
}


/*2015*/
@keyframes thumb2015 {
  0% {
    opacity: 0.4;
    top: 30%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

@-webkit-keyframes thumb2015 {
  0% {
    opacity: 0.4;
    top: 30%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

@-moz-keyframes thumb2015 {
  0% {
    opacity: 0.4;
    top: 30%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes thumb2014 {
  0% {
    opacity: 0.4;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 90%;
  }
}

@-webkit-keyframes thumb2014 {
  0% {
    opacity: 0.4;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 90%;
  }
}

@-moz-keyframes thumb2014 {
  0% {
    opacity: 0.4;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 90%;
  }
}
