<!--<section class="menu" ng-class="slide">-->
<!--    <div class="task-setting-button" ng-click="slide=''"><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></div>-->
<!--    <task-setting></task-setting>-->
<!--    <div class="task-setting-button" ng-click="slide='slideDown'"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></div>-->
<!--</section>-->
<section class="dashboard clearfix">
  <a ui-sref="blog">Blog</a>
    <!--button-timer is a control for the time-tracker and the button-->
    <button-timer></button-timer>
</section>

